body {
  background: #134056;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

.container {
  margin-top: 20px;
  width: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  color: #134056;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: fit-content;
}

.card-body {
  padding-bottom: 0;
  width: 600px;
}

.search-form {
  border-style: none;
  border-radius: 5px;
  color: rgb(52, 51, 51);
  margin: 20px 0 20px 0;
  padding: 10px 25px 10px 25px;
  text-align: left;
  width: auto;
}

.btn-light {
  color: rgb(52, 51, 51);
  padding: 5px 10px;
  width: fit-content;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.netlify {
  color: #585c5e;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.units {
  color: black;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  top: 12px;
  margin-left: 5px;
}

.units a:link {
  text-decoration: none;
  color: white;
}

.units a:visited {
  text-decoration: none;
  color: #585c5e;
}

.units a:hover {
  text-decoration: underline;
  color: orangered;
}

#search-city-input {
  width: 375px;
}

#search-button {
  margin-left: 25px;
}

#current-location-arrow:hover {
  opacity: 0.3;
  cursor: pointer;
}

#current-location-arrow {
  position: absolute;
  top: 55px;
  right: 72px;
  height: 20px;
  width: 20px;
  opacity: 0.7;
}

.col-4 {
  margin-top: 20px;
  text-align: right;
}

.city {
  font-size: 40px;
  margin-left: -40px;
  text-align: right;
  white-space: nowrap;
}

.col-5 {
  margin-top: 20px;
  padding-right: 40px;
  text-align: right;
}

.col-3 {
  font-size-adjust: inherit;
  margin-top: 20px;
  margin-right: auto;
  text-align: right;
  width: auto;
}

.vr {
  color: #134056;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 125px;
  width: 2px;
}

.table {
  color: #585c5e;
  margin: 5px 10px;
}

#weather-forecast {
  color: inherit;
  margin: 0px 0px 0px 22px;
  padding: 0px 2px;
  text-align: center;
}

.forecast-row > .col-2 {
  padding: 0 16px;
  margin: 0 7px;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

.weather-emojis {
  font-size: 50px;
  line-height: 35px;
}

.weather-icon {
  height: 60px;
  width: 60px;
  text-align: center;
}

.theme {
  display: flex;
  justify-content: center;
  margin: 15px 0 5px 0;
  transition: 300ms ease-in-out;
}

.theme:hover {
  cursor: pointer;
  transform: scale(2);
}

.dark {
  background: black;
  color: white;
}

.dark .card {
  background: #134056;
  color: white;
}

.dark .container {
  background: rgba(255, 255, 255, 0.1);
  border-style: none;
  box-shadow: none;
}
